// Font weights
$light: 300;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 12px;
$base-line-height: 1.4;

// Secondary Font
$secondary-font-family: Arial, sans-serif;

// Colors
// - GREY
$midnight: #2C3E50;
$asphalt: #34495E;
$cloud: #ECF0F1;
$silver: #BDC3C7;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$light-grey: #F7F7F7;

// - BLUE
$picton: #59ABE3;
$hoki: #67809F;
$hoki-light: #91A7C2;
$steel-blue:#4B77BE;

// - GREEN
$emerald: #3FC380;
$sunset: #F64747;